.container {
  height: 100%;
  top: 0%;
  left: 0%;
  width: 20%;
  background-color: rgb(53, 50, 50);
  padding: 2rem 1rem;
  position: fixed;
  z-index: 12;
  color: rgb(197, 191, 191);
}

.closeSidebar {
  position: absolute;
  right: 5%;
  top: 1%;
}

.title {
  font-size: 2rem;
  text-align: start;
}

.description {
  text-align: start;
}

@media screen and (max-width: 900px) {
  .container {
    width: 70%;
  }
}
