.container {
  width: 100%;
  height: 100%;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.container > div {
  margin-left: 0px;
}

.saveChanges {
  background-color: grey;
  color: white;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  align-self: flex-start;
}

.includeOllamaCheckbox {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
