.container {
  height: auto;
  width: 30%;
  border-radius: 10px;
  word-wrap: break-word;
  padding: 1rem 1rem;
}

.llm {
  width: 50%;
  align-self: start;
  background-color: #7cddd2;
  color: black;
}

.user {
  align-self: end;
  background-color: #81b6ee;
}

p {
  white-space: pre-wrap;
}

.codeSnippet {
  position: relative;
}

.copyToClipboard {
  position: absolute;
  right: 0px;
  bottom: 0%;
  padding: 0.15rem 0.25rem;
  background-color: rgb(63, 61, 61);
  color: white;
}
